/*--------------------------------------------------------------------------------*/
/* Fonts */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Proxima Nova
/*------------------------------------------------------------*/

@font-face {
  font-family: 'Proxima Nova Light';
  font-style: normal;
  font-weight: 300;
	src: url('~assets/fonts/ProximaNova-Light.eot');
	src: url('~assets/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
       url('~assets/fonts/ProximaNova-Light.woff') format('woff'),
       url('~assets/fonts/ProximaNova-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Brandon Grotesque Light';
  // font-style: normal;
  // font-weight: 300;
	src: url('~assets/fonts/Brandon_light.woff') format('woff');
}

/*------------------------------------------------------------*/
/* (Section Name)
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* (Module Name)
/*----------------------------------------*/

/* (Element Name)
/*--------------------*/

