/*--------------------------------------------------------------------------------*/
/* Variables */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Color
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* Chromatic
/*----------------------------------------*/

$main:    #db4d6d; // 中紅
$accent:  #005caf; // 瑠璃
$base:    #fcfaf2; // 白練

$green:   #72b958;
$red:     #e13f40;

/*----------------------------------------*/
/* Monochrome
/*----------------------------------------*/

$white:   #f9f9f9;
$black:   #1c1c1c; // 墨
$gray50:  #828282;
$gray10:  #e8e8e8;

/*------------------------------------------------------------*/
/* Typeface
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* Serif
/*----------------------------------------*/

$serif: 'Palatino', serif;

/*----------------------------------------*/
/* Sans Serif
/*----------------------------------------*/

$sans: -apple-system, BlinkMacSystemFont,
       "Helvetica Neue", Helvetica,
       "Hiragino Sans", "ヒラギノ角ゴシック",
       "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
       "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;

/*----------------------------------------*/
/* Mono
/*----------------------------------------*/

$mono: "ApercuMono", "A-OTF-GothicBBBPro",
      -apple-system, BlinkMacSystemFont,
      "Helvetica Neue", Helvetica,
      "Hiragino Sans", "ヒラギノ角ゴシック",
      "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN",
      "Yu Gothic", YuGothic, Verdana, Meiryo, sans-serif;

/*------------------------------------------------------------*/
/* Easing
/*------------------------------------------------------------*/

$easeInCubic:  cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);

/*------------------------------------------------------------*/
/* Column, Vertical Rhythm
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* Column
/*----------------------------------------*/

$col12: 90.62%; // 0.90625
$col11: 82.81%; // 0.828125
$col10: 75.00%; // 0.75
$col9:  67.18%; // 0.671875
$col8:  59.37%; // 0.59375
$col7:  51.56%; // 0.515625
$col6:  43.75%; // 0.4375
$col5:  35.93%; // 0.359375
$col4:  28.12%; // 0.28125
$col3:  20.31%; // 0.203125
$col2:  12.50%; // 0.125
$col1:   4.68%; // 0.046875

$col11-12: round-decimal(1696/1856*100%);
$col10-12: round-decimal(1536/1856*100%);
$col8-12:  round-decimal(1216/1856*100%);
$col6-12:  round-decimal(896/1856*100%);
$col4-12:  round-decimal(576/1856*100%);
$col3-12:  round-decimal(416/1856*100%);
$col2-12:  round-decimal(256/1856*100%);
$col1-12:  round-decimal(96/1856*100%);

$mar2:   6.25%; // 0.0625
$mar1:   3.12%; // 0.03125

$mar1-12: round-decimal(64/1856*100%);
$mar1-8:  round-decimal(64/1216*100%);
$mar1-6:  round-decimal(64/896*100%);
$mar1-4:  round-decimal(64/576*100%);
$mar1-3:  round-decimal(64/416*100%);

/*----------------------------------------*/
/* Vertical Rhythm
/*----------------------------------------*/

$row32: 256px;
$row24: 192px;
$row20: 160px;
$row16: 128px;
$row14: 112px;
$row12:  96px;
$row10:  80px;
$row8:   64px;
$row7:   56px;
$row6:   48px;
$row5:   40px;
$row4:   32px;
$row3:   24px;
$row2:   16px;
$row1:    8px;

/*------------------------------------------------------------*/
/* (Section Name)
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* (Module Name)
/*----------------------------------------*/

/* (Element Name)
/*--------------------*/
