/*--------------------------------------------------------------------------------*/
/* Pages : Archives */
/*--------------------------------------------------------------------------------*/

/*------------------------------------------------------------*/
/* Mainvisual
/*------------------------------------------------------------*/

.mainvisual {
  // margin: 0 0 $row12;

  .inner {

    >.headline {
      margin: 0 0 $row2;
    }

    >.description {
      margin: 0 0 $row4;
    }

    >.button {
      margin: 0 0 $row5;
    }

    >.bodycopy {
      margin: 0 0 $row6;
    }
  }
}

/*------------------------------------------------------------*/
/* Thumbnail
/*------------------------------------------------------------*/

.section-thumbnails {

  .thumbnail {
    margin-bottom: $row4;

    img {
    }

    &.for-mobile {
      padding: 61.21% 0 0;

      img {
        width: 548/1856*100%;
        height: 894/1136*100%;
        margin-left: 0;
      }
    }
  }

  .caption {
  }
}

/*------------------------------------------------------------*/
/* Index
/*------------------------------------------------------------*/

// .box {
//   grid-template-columns: $col2+$mar1 $col2+$mar1 $col2+$mar1 $col2+$mar1 $col2+$mar1 $col2;

//   .item {
//     margin-right: $mar1;

//     &:nth-child(odd),
//     &:last-child {
//       margin-right: 0;
//     }
//   }
// }

/*------------------------------------------------------------*/
/* (Section Name)
/*------------------------------------------------------------*/

/*----------------------------------------*/
/* (Module Name)
/*----------------------------------------*/

/* (Element Name)
/*--------------------*/
